.mm-page {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mm-title {
  font-size: $font-size-large;
  color: $colour-base-light;
}

.mm-navbar {
  height: $header-height;
}

.mm-navbar.mm-navbar-bottom {

  height: 40px;

  // Icons

  .fa {
    @include transition(all ease-in-out 0.3s);
  }

  .fa-facebook {
    color: transparentize($fb-blue, 0.4) !important;
    &:hover {
      color: transparentize($fb-blue, 0) !important;
    }
  }

  .fa-twitter {
    color: transparentize($twitter-blue, 0.4) !important;
    &:hover {
      color: transparentize($twitter-blue, 0) !important;
    }
  }

  .fa-envelope {
    color: transparentize(#000, 0.6) !important;
    &:hover {
      color: transparentize(#000, 0.3) !important;
    }
  }


}

.mm-title {
  padding-top: $header-padding-top + 10px;
}

.mm-listview {
  padding-top: $header-height - 40px;
}

.mm-menu.mm-hasheader > .mm-panel.mm-list {
  padding-top: $header-height;
}

.menu-icon {
  fill: white;
}

.mm-header .mm-prev {
  margin-bottom: $header-arrow-margin;
}

// New

.mm-menu {
  // width: 80%;
  // min-width: $mmenu-max-width;
  max-width: $mmenu-max-width;
  // background: $colour-menu;
}

@media all and (max-width: $widescreen-bp) {

  html.mm-opening .mm-slideout {
    -webkit-transform: translate($mmenu-max-width, 0) !important;
    -moz-transform: translate($mmenu-max-width, 0) !important;
    -ms-transform: translate($mmenu-max-width, 0) !important;
    -o-transform: translate($mmenu-max-width, 0) !important;
    transform: translate($mmenu-max-width, 0) !important;
  }

}

// Widescreen extension

@media all and (min-width: $widescreen-bp) {

  body,html {
    overflow: auto !important;
  }

  body {
    position: relative;
  }

  #mm-blocker {
    display: none !important;
  }

  .mm-slideout {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    width: 80% !important;
    margin-left: 20% !important;
  }

  .mm-page {
    background: inherit;
    box-sizing: border-box
  }

  .mm-menu.mm-widescreen {
    display: block;
    width: 20% !important;
    min-width: 140px !important;
    max-width: none !important;
    top: 0 !important;
    right: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 0 !important;
    border-right-width: 1px;
    border-right-style: solid;
  }

  .mm-menu.mm-widescreen.mm-pageshadow:after {
    content: none;
    display: none;
  }

  .menu-button {
    display: none;
  }

  .content {
    background: none;
  }

}

